.lead__subtitle {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FECDA7;
  text-transform: uppercase;
  margin: 0 0 30px;
}
