.lead__subtitle {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #fecda7;
    text-transform: uppercase;
    margin: 0 0 30px;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 999px) {
  .lead__subtitle {
    margin-bottom: calc(100vw / 38);
  }
}

@media screen and (max-width: 800px) {
  .lead__subtitle {
    text-align: center;
  }
}
