.header__right-link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    margin: 0;
    text-decoration: none;
    color: black;
    transition: opacity .2s linear;
    opacity: 1;
}

.header__right-link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .header__right-link {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        margin-left: 16px;
    }
}