.people__element {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
  .people__element {
    margin: calc(100vw / 9.25) auto 0;
  }
}

@media screen and (max-width: 900px) {
  .people__element {
    max-width: 600px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .people__element {
    max-width: 400px;
  }
}
